.header {
  background-color: white;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 2rem;
  }

  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .option {
      margin: 4px 10px;
    }
  }
}
